{% extends "base.html" %}
{% block body_block %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">
      		<div class="d-sm-flex align-items-center justify-content-between">
            <h6 class="mb-0 font-weight-bold text-primary">Sale</h6>
            <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{% url 'new_loan' %}" role="button">New Loan</a>
          </div>
      </div>
      <div class="card-body">
      	
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Updated At</th>
              </tr>
            </thead>
            <tbody>
            {% for item in loan_list %}
		        <tr>
	                <td>{{ item.id }}</td>
	                <td>{{ item.name }}</td>
	                <td>{{ item.type }}</td>
	                <td>{{ item.status }}</td>
	                <td>{{ item.description }}</td>
	                <td>{{ item.created_at }}</td>
	                <td>{{ item.updated_at }}</td>
	              </tr>
		    {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
	  
	});
</script>
{% endblock %}
